<div class="form-group">
    <%= f.label :status, 'submitted' %>
    <%= f.radio_button :status, 'Submitted' %>

    <%= f.label :status, 'approved' %>
    <%= f.radio_button :status, 'Approved' %>

    <%= f.label :status, 'rejected' %>
    <%= f.radio_button :status, 'Rejected' %>
  </div>
